<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todo lo que llegue a la raíz hacia la carpeta public
    RewriteRule ^$ public/index.php [L]

    # Si el archivo o carpeta solicitado no existe físicamente...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # ...entonces mándalo al index.php dentro de public
    RewriteRule ^(.*)$ public/index.php?url=$1 [L]
</IfModule>