RewriteEngine On
RewriteBase /tecnosia/

# Redirigir la raíz a la carpeta public
RewriteRule ^$ public/index.php [L]

# Si no es un archivo o directorio real, enviar a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]